.logo {
  width: 200px;
  height: 200px;
}
.circles {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  background-color: rgb(237, 162, 14);
  margin: 5px;
}
.circles-red {
  background-color: red;
}
.App-circle {
  visibility: hidden;
}
.circles-blue {
  background-color: blue;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.circle:nth-of-type(odd) {
  background-color: red;
}
.circle:nth-of-type(even) {
  background-color: blue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxshift {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.boxX {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid gold;
  margin-right: 10px;
  border-radius: 1.4px;
  background-color: blanchedalmond;
}
.gsap-edit {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.App-logo {
  opacity: 0;
}
p {
  opacity: 0;
}
/* ImageSLider.jsx */

/* .slide-container {
  width: 144px;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  visibility: hidden;
}

.img-container {
  width: 144px;
  overflow: hidden;
  height: 960px;
  position: relative;
}
.img-container::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background-color: pink;
  height: 100%;
}

.img-container > img {
  position: absolute;
  width: 144px;
} */
