* {
  opacity: 0.2;
}
.logo {
  width: 200px;
  height: 200px;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.circle:nth-of-type(odd) {
  background-color: red;
}
.circle:nth-of-type(even) {
  background-color: blue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxshift {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.boxX {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid gold;
  margin-right: 10px;
  border-radius: 1.4px;
  background-color: blanchedalmond;
}
.gsap-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
